/* ----------------                             Page Body General CSS           ----------------*/
/* -----This section is to apply master styles to the entire document -----*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/* ----------------                         Header Section                  ----------------------*/
/* This is where the header aka navbar gets styled */

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #bebebe;
    z-index: 0  ;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header img{
    max-width: 130px;
    height: 110px;
    position: relative;
}

header ul{
    position: relative;
    display: flex;
}

header ul li{
    list-style: none;
}

header ul li a{
    display: inline-block;
    color: #333;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}
header ul li a:hover{
    color: white;
}


/* --------------------------               Content section                 ---------------------*/
/* This styles the content box with the interactive photos */

.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* This styles the Text that is displayed on the left of the screen */

.content .textBox  {
    position: relative;
    max-width: 600px;

}

.content .textBox h2{
    color: #333;
    font-size: 2.5em;
    line-height: 1.4em;
    font-weight: 500;
}

.content .textBox h2 span{
    color: #8a78b8;
    font-size: 2.5em;
    font-weight: 900; 
    line-height: 90px;  
}

.content .textBox p{
    
    color: #333;
}

#parText{
    margin-top: 20px;
}

.content .textBox a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px;
    background: #8a78b8;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}

/* ---- This is styiling for the images to the right of the text -----*/

.content .imgBox {
    width: 600px;
    display: flex;
    justify-content: center;
    padding-right: 50px;
    margin-top: 50px;
}

.content .imgBox img{
    max-width: 600px;
    max-height: 400px;
    border-radius: 10px;

}

/* This is styling for the small thumbnails */

.thumb{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translate(-75%, 25%);
    display: flex;
    align-items: flex-end;
    margin: 10px;
}

.thumb li{
    list-style: none;
    display: inline-block;
    margin: 10px 20px;
    cursor: pointer;
    transition: 0.5s;

}

.thumb li:hover{
    transform: translateY(-15px);
}


.thumb li img{
    max-width: 100px;
    border-radius: 50%;

}

/*  ------------                This styles the contact buttons ---------------------*/

.sci{
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.sci li{
    list-style: none;
}

.sci li a{
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
    filter: invert(1); /*this will change black social media icons to white*/
}

/*---------- This styles the semicircle on the page ---------*/

.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #8a78b8;
    clip-path: circle(600px at right 780px);
    background-image: url(./Untitled-2_ft.png);
    background-position:  800px 300px;
    background-size: 800px;
    background-repeat: no-repeat;
    
    
    
}


/* --------------------                     RESPONSIVE SETTINGS                     -------------------------------*/

@media (max-width: 991px)
{
    header{
        padding: 20px 20px 120px;
    }
    header .logo{
        
        max-width: 60px;
    }
    header ul{
        display: none;
    }
    .toggle {
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
        background:url(./menu.png);
        background-size: 30px;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 11;
    }
    .toggle.active{
        position: fixed;
        right: 20px;
        background:url(./close.png);
        background-size: 25px;
        background-position: center;
        background-repeat: no-repeat;
        filter: invert(1);
    }
    header ul.navigation.active{
        position: fixed;    
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fff;
        z-index: 10;
    }

header ul li a {
    font-size: 1.5em;
    margin: 5px 0;
   
}
    section{
        padding: 20px;
    }
    .content{
        flex-direction: column;
        margin-top: 100px;
    }
    .content .textBox h2{
        margin-bottom: 15px;
        font-size: 2em;
    }
    .content .textBox{
        max-width: 100%;
    } 
    
    .circle {
        clip-path: circle(340px at center bottom);
    }   
    .content .imgBox {
        max-width: 100%;
        justify-content: center;
  
    }
    .content .imgBox img{
        max-width: 300px;
    
    }
    .thumb li img{
        max-width: 40px;
        transform: translate(125%, 75%);
        
    
    }
    
}


/* ------------------------------- ABOUT PAGE CONTENT ---------------------------------*/ 

#heading{
    font-size: 2em;
    font-family: 'Qwitcher Grypen', cursive;
    line-height: 200px;
}

#sign  {
    font-size: 2em;
    font-family: 'Qwitcher Grypen', cursive;
    font-weight: bold;
    line-height: 100px;
    
}

#buttr{
    transform: translate(50px, 90px);
}

#txtAbout{
    background-image: url(./Untitled-1_f.png);
    background-position: 400px 500px;
    background-repeat: no-repeat;
    background-size: 150px;
    height: 90vh;
}

/* ------------------------------- Gallery PAGE CONTENT ---------------------------------*/ 
.gallery {
	display: flex;
	padding: 4px;
	transition: .3s;
    margin-top: 50px;
}
 .gallery__image {
		filter: grayscale(0.7);
}
 .gallery__image:hover {
		filter: grayscale(0);
        
}
	
.gallery__column {
		display: flex;
		flex-direction: column;
		width: 25%;
	}
	
    .gallery__link {
		margin: 4px;
		overflow: hidden;
    }	
    
    .gallery__thumb {
		position: relative;
	}
	
	.gallery__image {
		display: block;
		width: 100%;
		transition: .3s;
    }
    .gallery_image:hover {
			transform: scale(1.5);
		}
	
	

